h1, p {
    font-family: Lato;
  }
  
  .btn-green {
      background-color: #FF6611;
      color: #fff;
      border-radius: 3px;
  }
  .btn-green:focus,
  .btn-green:hover {
      background-color: #FF6611;
      color: #fff;
  }
  .panel-footer {
      padding: 0 15px;
      border: none;
      text-align: right;
      background-color: #fff;
  }
  
  input:focus, textarea:focus  { 
      outline: none !important;
      border-color: #FF6611 !important;
      box-shadow: 0 0 10px #FF6611;
  }
  
  .nav-link {
    color: #FF6611 !important;
    border-radius: 3px;
  }
  
  .btn-primary {
    background-color: #FF6611 !important;
    color: #fff;
    border-radius: 3px;
    border-color: gray !important;
  }
  
  .btn-primary:hover, .btn-primary:focus {
      background-color: #FF6611;
      color: #fff;
      border-color: gray important;
  }
  
  .sjs-cb-container input:checked ~ .checkmark {
      background-color: #FF6611 !important;
  }
  
  .svd_custom_select, .svd_property_editor_dropdown, .svd_editor_control {
      color: #FF6611 !important;
      border: 1px solid #FF6611 !important;
      border-bottom-color: #FF6611 !important;
  }
  
  .svd_container .editor-tabs > li.active > a {
      background-color: #f3f3f4 !important;
      border: 1px solid #e7eaec;
      border-bottom-color: #f3f3f4;
      color: #fff;
  }
  
  .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .panel-body .svd_question .svd_question_menu .glyphicon-option-horizontal, .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .card-block .svd_question .svd_question_menu .glyphicon-option-horizontal .btn-green {
      color: #FF6611 !important;
  }
  
  .svd_container .glyphicon.glyphicon-plus::before {
      font-weight: normal;
      font-size: 20px;
      color: #FF6611 !important;
      content: "+";
  }
  
  .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .panel-body .svd_question_container .svd_question.svd_q_selected,
  .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .card-block .svd_question_container .svd_question.svd_q_selected {
    /* doesn't work b/c surveyeditor.css has this marked as important! */
      border: 1px solid #FF6611 !important; 
  }
  
  .sv_qstn, .svd_question_menu {
    color: #111111;
  }
  
  .sv_complete_btn {
    color: #FF6611;
    background-color: white;
  }
  
  .svd_custom_select:before  {
    background-color: #FF6611 !important;
  }
  
  .svd_container .svd_q_selected {
      border: 1px solid #FF6611 !important;
  }
  